.page-contato {
	background: $orange;
	color: white;
	.wpcf7-form-control:not(.wpcf7-submit) {
		background:  darken($orange, 10%)!important;
		color: white!important;
		border: 1px solid darken($orange, 5%)!important;
		margin-top: 10px;
		width: 100%;
	}
	label {
		width: 100%;
	}
	.wpcf7-submit {
		@extend .btn-light;
	}
	.social-media {
		font-size: 24px;
		a {
			color: white;
			&:hover {
				color: $blue;
			}
		}
	}
}